

<ion-modal-view>
  <ion-header-bar>
    <h1 class="title" id="status">Login</h1>
    <h1 class="title" id="login">Login</h1>
    <div id="status"></div>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>

  <ion-pane>
    <ion-content>
    <button class="button buttton-royal icon ion-social-facebook" onclick="login()">Login with Facebook</button>
    <button class="button buttton-royal" onclick="getInfo()">getInfo</button>
    <button class="button buttton-royal" onclick="getPic()">Picture</button>
  </ion-content>
 </ion-pane>
</ion-modal-view>
