<ion-view view-title="Más info">
  <ion-nav-bar class="bar-light">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right"><img src="img/main-dely-logo.png" class="delycia-logo"></ion-nav-buttons>
  </ion-nav-bar>

  <ion-content scroll="false">
  	<img ng-src="{{currentPlatillo.src}}" />
  	<div class="semitransparent-violet-background"></div>
  	<div class="masinfo-menu">
  		<div class="line two" ui-sref="app.restaurant({platilloId: {{platilloId}}})">
        <div class="ion-ios-information-outline icon"></div>
  			<div class="masinfo-menu-item">Ver m&aacute;s sobre {{currentPlatillo.restaurant}}</div>
  		</div>
  		<div class="line" ui-sref="app.favorites({platilloId: {{currentPlatillo.id}}})">
        <div class="ion-android-star icon"></div>
  			<div class="masinfo-menu-item">Agregar favorito</div>
  		</div>
  		<div class="line">
        <div class="ion-share icon"></div>
  			<div class="masinfo-menu-item">Compartir</div>
  		</div>
  		<div class="line"><div class="ion-map icon"></div><div class="masinfo-menu-item">C&oacute;mo llegar</div></div>
  		<div><div class="ion-heart icon"></div><div class="masinfo-menu-item" ui-sref="app.reviews({platilloId: {{currentPlatillo.id}}})">Reviews</div></div>
  	</div>
  </ion-content>
</ion-view>