<ion-view view-title="Más info">
  <ion-content class="no-header" scroll="false">
  	<img src="{{currentPlatillo.src}}" />
  	<div class="masinfo-background"></div>
  	<div class="masinfo-menu">
  		<div class="line" ui-sref="app.restaurant({restaurantId: 0, platilloIndex: {{platilloIndex}}})">
  			<div class="masinfo-menu-item">VER MAS SOBRE</div>
  			<div class="masinfo-menu-subitem">{{currentPlatillo.restaurant}}</div>
  		</div>
  		<div class="line" ui-sref="app.favorites({platilloId: {{currentPlatillo.id}}, platilloIndex: {{platilloIndex}}})">
  			<div class="masinfo-menu-item">SALVAR PLATO</div>
  			<div class="masinfo-menu-subitem">A TUS FAVORITOS</div>
  		</div>
  		<div class="line">
  			<div class="masinfo-menu-item">COMPARTIR</div>
  			<div class="masinfo-menu-subitem">CON AMIGOS</div>
  		</div>
  		<div class="line"><div class="masinfo-menu-item">COMO LLEGAR</div></div>
  		<div><div class="masinfo-menu-item">VER REVIEWS</div></div>
  	</div>
  </ion-content>
</ion-view>