<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
  <div class="delyciamenu-header">
    <div class="delyciamenu-portrait"><div class="delyciamenu-thumbnail"><img src="{{userPhoto}}"/></div></div>
    <div class="delyciamenu-name">{{nameUser}}</div>
  </div>

  <div class="delyciamenu-container">
    <div class="delyciamenu-menuitem" menu-close ng-click="doLogin()" ng-show="!islogged"><div class="icon ion-social-facebook"></div>Ingresar con Facebook</div>
    <!-- <div class="delyciamenu-menuitem" ng-click="closeMenu()"><div class="icon ion-person"></div>Tus Datos</div> -->
    <div class="delyciamenu-menuitem" ng-click="closeMenu()" ui-sref="app.favorites({platilloId: -1, type: 0})" ng-show="islogged"><div class="icon ion-star"></div>Tus favoritos</div>
    <!-- <div class="delyciamenu-menuitem" ng-click="closeMenu()" ui-sref="app.configurations()"><div class="icon ion-gear-b"></div>Preferencias</div> -->
    <div class="delyciamenu-menuitem" ng-click="closeMenu()"><div class="icon ion-coffee"></div>Sobre delycia</div>
    <div class="delyciamenu-menuitem" ng-click="closeMenu()"><div class="icon ion-coffee"></div>Tu opinión</div>
    <div class="delyciamenu-menuitem" ng-click="logout()" ng-show="islogged"><div class="icon ion-log-out"></div>Logout</div>
  </div>
<!--     <ion-header-bar class="bar-stable">
      <h1 class="title">Delycia</h1>
    </ion-header-bar> -->
<!--     <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          <div ng-show="!islogged">Login</div>
          <div ng-show="islogged">Logout</div>
        </ion-item>
        <ion-item menu-close class="delycia-menu-item" ng-href="#/app/platillos/0">
          Platillos
        </ion-item>
        <ion-item menu-close ng-class="islogged ? 'delycia-menu-item' : 'delycia-menu-item menu1-button-deactive'" ng-href="{{islogged ? '#/app/favorites/-1' : ''}}" ng-click="showNotLoggedMessage()">
          Favoritos
        </ion-item>

        <ion-item menu-close ng-class="islogged ? 'delycia-menu-item' : 'delycia-menu-item menu1-button-deactive'" href="{{islogged ? '#/app/configurations' : ''}}" ng-click="showNotLoggedMessage()">
        <ion-item menu-close class="delycia-menu-item" ui-sref="app.configurations()">
          Configuraciones
        </ion-item>
      </ion-list>
    </ion-content> -->
  </ion-side-menu>
</ion-side-menus>
