<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Delycia</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close class="delycia-menu-item" ui-sref="app.platillos({type: 0})">
          Platillos
        </ion-item>
        <ion-item menu-close class="delycia-menu-item" ui-sref="app.favorites({platilloId: 0})">
          Favoritos
        </ion-item>
<!--         <ion-item menu-close class="delycia-menu-item" ui-sref="app.friends()">
          Amigos
        </ion-item> -->
        <ion-item menu-close class="delycia-menu-item" ui-sref="app.configurations()">
          Configuraciones
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
