<ion-view view-title="">
	<ion-nav-bar class="bar-clear">
	  <ion-nav-back-button>
	  </ion-nav-back-button>

	  <ion-nav-buttons side="left">
	    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
	    </button>
	  </ion-nav-buttons>

	  <ion-nav-buttons side="right"><img src="img/main-dely-logo.png" class="delycia-logo"></ion-nav-buttons>
	</ion-nav-bar>
  <ion-content id="platilloContent" class="no-header" scroll="false">
	<ion-slides  options="options" slider="data.slider">
		<ion-slide-page ng-repeat="platillo in platillos track by $index">
			<div class="menu-image">
				<div class="menu-image-info fade" ng-show="infoEnable">
					<div class="menu-image-title">{{platillo.title}}</div>
					<div class="menu-image-restaurant">{{platillo.restaurant}}</div>
				</div>
				<img class="img-responsive" ng-src="{{platillo.src}}" ng-click="onImageClick()"/>
				<div class="menu-image-info2 fade" ng-show="infoEnable">
					<div ng-class="platillo.rating > 0 ? 'menu-image-rating' : 'menu-image-rating no-review'" ui-sref="app.reviews({platilloId: {{platillo.id}}})">
						<div class="rating-hearts" ng-show="platillo.rating > 0">
							<div ng-class="getHeartClass(0, platillo.rating)"></div>
							<div ng-class="getHeartClass(1, platillo.rating)"></div>
							<div ng-class="getHeartClass(2, platillo.rating)"></div>
							<div ng-class="getHeartClass(3, platillo.rating)"></div>
							<div ng-class="getHeartClass(4, platillo.rating)"></div>
						</div>
						<div class="no-rating" ng-show="platillo.rating == 0">
							<div class="broken-heart"></div>
							<div class="no-review-message">A&Uacute;N SIN REVIEWS</div>
						</div>
					</div>
					<div class="menu-image-kms">
						<div class="ion-navigate distance-icon"></div>
						<a ng-show="isIOS" href="maps://?q={{platillo.lat}}, {{platillo.lon}}" class="menu-distance-button">{{platillo.distance}}</a>
						<a ng-show="!isIOS" href="geo://0,0?q={{platillo.lat}}, {{platillo.lon}}" class="menu-distance-button">{{platillo.distance}}</a>
					</div>
					<div class="menu-image-status">{{platillo.status}}</div>
					<div class="menu-image-price">&#162;{{platillo.price}}</div>
				</div>
				<div  native-transitions ui-sref="app.masinfo({platilloId: {{platillo.id}}})" ng-class="infoEnable ? 'masinfo-button active' : 'masinfo-button'"></div>
				<div ui-sref="app.search({platilloId: {{platillo.id}}})" ng-class="showSearchButton ? infoEnable ? 'search-button active' : 'search-button' : 'search-button hide'"></div>
			</div>
		</ion-slide-page>
	</ion-slides>
  </ion-content>
</ion-view>