<ion-view view-title="Lugar">
  <ion-nav-bar class="bar-light">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right"><img src="img/main-dely-logo.png" class="delycia-logo"></ion-nav-buttons>
  </ion-nav-bar>
  
  <ion-content scroll="false">
    <div class="restaurant-container">
      <div class="restaurant-header">
        <div class="restaurant-header-background"><img ng-src="{{restaurantImage}}"></div>
        <div class="restaurant-header-title">{{currentPlatillo.restaurant}}</div>
        <div class="restaurant-header-status">{{currentPlatillo.status}}</div>
      </div>
      <div class="restaurant-buttons">
        <div ng-class="!mapShow ? 'restaurant-button active' : 'restaurant-button'" ng-click="showDishes()">Platos</div>
        <div ng-class="mapShow ? 'restaurant-button active' : 'restaurant-button'" ng-click="loadMap()">4.1kms</div>
        <a href="tel: {{number}}" class="restaurant-button">Llamar</a>
      </div>
        <div class="white-background">
          <div ng-show="mapShow">
            <div class="restaurant-map">
              <div id="map" data-tap-disabled="true"></div>
            </div>
            <div class="restaurant-location-info"><div class="header">DIRECCI&Oacute;N</div><div class="info">{{address}}</div></div>
            <div class="restaurant-time-info"><div class="header">HORARIO</div><div></div class="info"></div>
          </div>
          <ion-scroll class="restaurant-scroll">
            <div class="restaurant-platillos-container" ng-show="!mapShow">
              <div ng-repeat="dish in restaurantDishes" class="restaurant-thumbnail" ng-click="onDishClick($index)"><img ng-src="{{dish.src}}"></div>
            </div>
          </ion-scroll>
        </div>
    </div>
  </ion-content>
</ion-view>