<ion-view view-title="Compartir">
  <ion-nav-bar class="bar-dark share-bar">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right"><img src="img/main-dely-logo.png" class="delycia-logo"></ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
  	<!-- <div class="black-background"></div> -->
    <div class="share-message">Comparte con tus amigos y podrías cenar gratis en uno de tus lugares favoritos</div>
    <img class="share-image" src="img/invitar.jpg">
    <div class="share-button"><div class="ion-ios-checkmark-outline"></div>Compartir</div>
  </ion-content>
</ion-view>
