<ion-view view-title="Compartir">
  <ion-nav-bar class="bar-light">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right"><img src="img/main-dely-logo.png" class="delycia-logo"></ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="no-header" scroll="false">
  	<div class="black-background"></div>

  </ion-content>
</ion-view>
