/* Empty. Add your own CSS if you like */

img {
	display: block;
    width: 100%;
}

ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}

li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}

.no-header
{
    top: 0 !important;
}

.slider-slides{
    
}

.menu-image-info
{
    float: left;
    position: absolute;
    padding: 0 1.8vw 1.8vw 2.5vw;
    background: rgba(0,0,0 ,0.2);
    width: 100%
}

.menu-image-title
{
    color: white;
    font-size: 9vw;
    margin: 15vw 0 1.8vw 0;
    line-height: 9vw;
}

.menu-image-restaurant
{
    font-size: 2vw;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 3.6vw 0;
}

.menu-image-info2
{
    width: 80vw;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    float: left;
    bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 1.4vw;
    margin-left: 10vw;
}

.menu-image-rating
{
    font-size: 3vw;
    position: relative;
    width: 31%;
    border-right: solid 1px #ddd;
}

.menu-image-rating .rating-hearts
{
    display: flex;
    position: absolute;
    margin-left: 1.5vw;
}

.menu-image-rating .ion-ios-heart
{
    padding: 0 0.5vw;
    color: lightpink;
}

.menu-image-rating .rating-hearts .active
{
    color:red;
}

.menu-image-kms
{
    font-size: 2.5vw;
    position: relative;
    width: 23%;
    text-transform: uppercase;
    border-right: solid 1px #ddd;
    text-align: center;
}

.menu-image-kms .ion-navigate
{
    position: absolute;
    margin-left: 1.2vw;
}

.menu-image-kms-text
{
    text-align: center;
}

.menu-image-status
{
    font-size: 2.3vw;
    text-transform: uppercase;
    color: limegreen;
    width: 23%;
    text-align: center;
    border-right: solid 1px #ddd;
}

.menu-image-price
{
    font-size: 4.5vw;
    width: 23%;
    text-align: center;
}

.menu-image
{
    position: relative;
}

.swiper-pagination 
{
    display: none !important;
}

.masinfo-button
{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
}

.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  /*display: block !important;*/
}

.fade.ng-hide-remove {
  transition: all linear 300ms;
}

.fade.ng-hide-add {
  transition: all linear 300ms;
}
